.formButtons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.formButtons .addButton {
  margin: auto;
  margin-bottom: 0.5rem;
}

.formButtons .resetButton {
  margin: auto;
  margin-bottom: 0.5rem;
}

.resetButton {
  width: auto;
  max-width: 10rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #075e86;
  color: #075e86;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  cursor: pointer;
}

.resetButton:focus {
  outline: none;
}

.resetButton:hover,
.resetButton:active {
  background: #0a7dc0;                  
  border-color: #0a7dc0;
  color: black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}